<div class="footer">
		<div class="wrap">	
			<div class="section group">
				<div class="col-md-3 col-xs-6 footer-box">
					<h4>相关信息</h4>
					<ul>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="contact.html">客户服务</a></li>
						<li><a href="delivery.html">消息反馈</a></li>
						<li><a href="contact.html">联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-6 footer-box">
					<h4>相信我们</h4>
						<ul>
						<li><a href="about.html">优质服务</a></li>
						<li><a href="contact.html">贴心售后</a></li>
						<li><a href="#">品牌授权</a></li>
						<li><a href="contact.html">安全可靠</a></li>
						</ul>
				</div>
				<div class="col-md-3 col-xs-6 footer-box">
					<h4>商家入驻</h4>
						<ul>
							<li><a href="#">质量保证</a></li>
							<li><a href="contact.html">资格认证</a></li>
							<li><a href="index.html">服务承诺</a></li>
							<li><a href="#">合作年限</a></li>
						</ul>
				</div>
				<div class="col-md-3 col-xs-6 footer-box">
					<h4>联系我们
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=465629989&site=qq&menu=yes">
							<img border="0" src="http://wpa.qq.com/pa?p=2:465629989:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>
						</a>
					</h4>
						<ul>
							<li><span>固话：0758-2107833</span></li>
							<li><span>电话：18027824032</span></li>
							<li><span>地址：肇庆创星谷电子商务有限公司</span></li>
						</ul>
				</div>
			</div>
		</div>
		<div class="copy_right">
			<p>Copyright &copy; 2016.肇庆市华创信息科技有限公司 All rights reserved.
		</div>
	</div>
	