<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="创星谷供销平台" />
<title>[title]</title>
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.css" />
<link rel="stylesheet" href="__BOOTSTRAP__/css/font-awesome.css" />
<!--flexslider-->
<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" />

<!--自己添加的css-->
<link rel="stylesheet" href="__PUBLIC__/css/style.css" />

<!--jquery-->
<script src="__PUBLIC__/js/jquery/jquery.js"></script>  