<div class="header_top">
			<div class="logo">
				<a href="index.html"><img src="__PUBLIC__/images/logo.png" alt=""></a>
			</div>
			<div class="cart">
				<p>欢迎来到创星谷供销平台! <span>QQ客服:</span>
					<a href="tencent://message/?uin=465629989&Site=121ask.com&Menu=yes"> 
						<img border="0" SRC='http://wpa.qq.com/pa?p=1:465629989:4' alt="点击这里给我发消息"> 
					</a> 
				</p>
			</div>
			
	     	<div class="clear"></div>
		</div>
<div class="header_bottom">
	<div class="menu">
		<ul>
			<li id="index"><a href="{:U('Index/index')}">供销首页</a></li>
			<li id="brand"><a href="{:U('Index/index')}">品牌市场</a></li>
			<li id="enter"><a href="{:U('Index/index')}">供销入驻</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="search_box">
		<form>
			<input type="text" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
		</form>
	</div>
	<div class="clear"></div>
</div>