<div class="header_top">
			<div class="logo">
				<a href="index.html"><img src="__PUBLIC__/images/logo.png" alt=""></a>
			</div>
			<div class="cart">
				<p>欢迎来到创星谷供销平台! 
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=465629989&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:465629989:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
				</p>
			</div>
			
	     	<div class="clear"></div>
		</div>
<div class="header_bottom">
	<div class="menu">
		<ul>
			<li id="index"><a href="{:U('Index/index')}">供销首页</a></li>
			<li id="brand"><a href="{:U('Rule/index')}">供销规则</a></li>
			<li id="enter"><a href="{:U('Enter/index')}">供销入驻</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="search_box">
		<form>
			<input type="text" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索';}"><input type="submit" value="">
		</form>
	</div>
	<div class="clear"></div>
</div>