<!DOCTYPE>
<head>
<include file="Public/header"  title="创星谷-首页"/>
</head>
<body>
	<div class="wrap">
		
		<include file="Public/menu" />
		
	</div>
	<div class="main">
		<div class="row" style="margin:0px">
		<div class="col-md-12">
		<div class="attract_boxes attract_box1">
			<h3 class="b-b-d">供销平台管理规范</h3>
			<p><br></p>
			<p>
				<strong>第一章 总则</strong>
			</p>
			<p>
				第一条 【目的和依据】为促进开放、透明、分享、责任的新商业文明，保障供销平台供应商、分销商等各方的合法权益、维护供销平台正常运营秩序，根据《供销平台供应商入驻协议》、《供销平台分销商入驻协议》等相关协议、规则的规定，特制定本管理规范。
			</p>
			
			<p>
				第二条 【适用范围】本管理规范用于规范供应商、分销商和其他用户（统称为供销平台用户）入驻和退出供销平台，在供销平台的经营活动及其后果。供销平台用户均应遵守本规范的相关规定。
			</p>
			<p>
				第三条 【诚信承诺】供销平台用户在供销平台的日常经营、管理中应诚实守信、遵纪守法，积极提升自身品质和信誉，给客户和消费者带来更好的体验，共同将供销平台建设成为公开透明、公正文明、秩序良好的供销平台。
			</p>
			<p>
				<strong>第二章 定义</strong>
			</p>
			<p>
				第四条 供销平台，是指为供销平台用户提供分销服务和管理的网络交易平台，域名为：shop.cxg-e.com
			</p>
			<p>
				第五条 供应商，是指通过供销平台向分销商提供产品供其销售的会员，包括品牌商、授权供应商。
			</p>
			<p>
				第六条 品牌商，是指持有自有品牌或品牌权利人的排他授权文件，通过供销平台管理该品牌的线上渠道并从事经营活动的供应商（其品牌商标须为R或TM状态）。
			</p>
			<p>
				第七条 授权供应商，是指持有品牌权利人的授权文件在供销平台从事经营活动的供应商（其品牌商标须为R或TM状态）。
			</p>
			<p>
				第八条 分销商，是指在销售供应商产品的卖家，是供销平台经销商、代销商、直营商及其他入驻供销平台卖家的总称。
			</p>
			<p>
				第九条 产品，是指供应商在供销平台发布的商品。
			</p>
			<p>
				<strong>第三章 市场管理</strong>
			</p>
			<p>
				第十条【保证金补足】供应商应根据《供销平台供应商入驻协议》及本规范规定缴纳或补足保证金。若保证金余额不足，且经供销平台催缴后未在十五天内缴纳或补足的，给予供应商分销限权，并下架所有产品，直至足额缴纳为止。
			</p>
			<p>
				第十一条【品质抽检】供销平台允许创星谷对分销产品进行抽检，对存在抽检不合格产品，依据《供应商违规情形处理一览表》进行相应处理。
			</p>
			<p>
				第十二条【曝光处理】针对经新闻媒体曝光、国家质监部门等行政管理部门通报，系质量不合格的线下某一品牌、品类、批次的产品，供销平台将依照其情形严重程度，采取下架产品、删除产品等处理措施对其进行临时性的市场管控，情形特别严重，对相关供应商采取账号限权，直至清退账户。
			</p>
			<p>
				第十三条【其他情形】在某些特殊情形下（如短期内大量引发或持续引发消费者维权等），针对相应产品或供应商，供销平台有权依照其情形严重程度，采取下架产品、删除产品等处理措施进行临时性的市场管控，情形特别严重，采取账号限权，直至清退账户。
			</p>
			<p><br></p>
		
		</div>
		
		</div>
		</div>
	</div>
	
	<include file="Public/footer"/>
	<include file="Public/script" />
	<script>
		
		$("#brand").addClass("active");
	</script>
</body>
</html> 