<!DOCTYPE html>
<html lang="en">
	<head>
		<include file="Public/header"  title="登录 | 华创控制台"/>
	</head>
	<body class="login-layout">
		<div class="main-container">
			<div class="main-content mt200">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-key red"></i>
									<span class="red">找回</span>
									<span class="white" id="id-text2">密码</span>
								</h1>
								
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								
								<div id="forgot-box" class="forgot-box widget-box no-border visible">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="ace-icon fa fa-key"></i>
												重置密码
											</h4>

											<div class="space-6"></div>
											<p>
												填写手机号码，将发送邮件至您注册时的邮箱。
											</p>

											<form class="form-horizontal">
												<fieldset>
													<div class="form-group" id="div-phone">
														<div class="col-xs-12 col-sm-12">
															<label class="block clearfix">
																<span class="block input-icon input-icon-right">
																	<input type="phone" id="phone" name="phone" maxlength="11" class="form-control" placeholder="手机号码" />
																	<i class="ace-icon fa fa-phone"></i>
																</span>
															</label>
														</div>
													</div>
													
													<div class="form-group" id="div-verify">
														<div class="col-xs-12 col-sm-5">
															<span class="block input-icon input-icon-right">
																<input id="verifyImg" name="verifyImg" type="text" placeholder="验证码" class="width-100">
																<i class="ace-icon fa"></i>
															</span>
														</div>
														<div class="col-xs-12 col-sm-5">
															<img src="{:U('Reset/verify')}" title="点击刷新" class="img-responsive"onclick="this.src=this.src+'?'+Math.random();"/>
														</div>
													</div>
													
													
													<div class="clearfix">
														<button type="button" id="s-btn" class="width-30 pull-right btn btn-sm btn-danger disabled">
															<i class="ace-icon fa fa-envelope"></i>
															<span class="bigger-100">发送</span>
														</button>
													</div>
												</fieldset>
											</form>
										</div><!-- /.widget-main -->

									</div><!-- /.widget-body -->
								</div><!-- /.forgot-box -->
								<div id="email-box" class="forgot-box widget-box no-border ">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="ace-icon fa fa-key"></i>
												重置密码
											</h4>

											<div class="space-6"></div>
											<p>
												已经将邮件发送至<span id="email"></span>
											</p>
											
											<p>
												请注意查收。(如收不到，请检查垃圾箱。)
											</p>
											
											<p>
												如有疑问请联系管理员。
											</p>
											
										</div><!-- /.widget-main -->

									</div><!-- /.widget-body -->
								</div><!-- /.forgot-box -->

							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
		<!-- inline scripts related to this page -->

	</body>
	<script src="__PUBLIC__/js/jquery/jquery.js"></script>
	<script>
		$("#phone").change(function(){
			$.post("{:U('Reset/checkPhone')}",{"phone":$(this).val()},function(flag){
				var iTag = $("#phone").siblings();
				if(flag){
					$('#div-phone').removeClass("has-error").addClass("has-success");
					if(iTag.hasClass("fa-phone")){
						iTag.removeClass("fa-phone").addClass("fa-check-circle");
					}else{
						iTag.removeClass("fa-times-circle").addClass("fa-check-circle");
					}
					if($('#div-verify').hasClass("has-success"))
						$("#s-btn").removeClass("disabled");
				}else{
					$('#div-phone').removeClass("has-success").addClass("has-error");
					if(iTag.hasClass("fa-phone")){
						iTag.removeClass("fa-phone").addClass("fa-times-circle");
					}else{
						iTag.removeClass("fa-check-circle").addClass("fa-times-circle");
					}
				}
			});
		})
		$("#verifyImg").change(function(){
			$.post("{:U('Reset/checkVerify')}",{"verify":$(this).val()},function(flag){
				var iTag = $("#verifyImg").siblings();
				if(flag){
					$('#div-verify').removeClass("has-error").addClass("has-success");
					iTag.removeClass("fa-times-circle").addClass("fa-check-circle");
					if($('#div-phone').hasClass("has-success"))
						$("#s-btn").removeClass("disabled");
				}else{
					$('#div-verify').removeClass("has-success").addClass("has-error");
					iTag.removeClass("fa-check-circle").addClass("fa-times-circle");
				}
			});
		})
		$("#s-btn").click(function(){
			$.post("{:U('Reset/sendEmail')}",$("form").serialize(),function(data){
				if(data){
					$("#forgot-box").removeClass("visible");
					$("#email-box").addClass("visible");
					$("#email").text(data);
				}else{
					
				}
			});
		});
	</script>
</html>
