<!DOCTYPE>
<head>
<include file="Public/header"  title="创星谷-分销产品"/>
</head>
<body>
	<div class="wrap">
		<include file="Public/menu" />
	    <div class="header_slide">
			<div class="header_bottom_left">				
				<div class="categories">
					<ul>
						<h3>所有商品分类</h3>
						<li><a href="{:U('Goods/index')}">家居日用</a></li>
						<li><a href="#">家电数码</a></li>
						<li><a href="#">服饰配件</a></li>
						<li><a href="#">美容护肤</a></li>
						<li><a href="#">运动户外</a></li>
						<li><a href="#">其他</a></li>
					</ul>
				</div>					
	  	    </div>
			<div class="header_bottom_right">		
				<div class="row">
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic1.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="tencent://message/?uin=465629981&Site=121ask.com&Menu=yes">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic2.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic3.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic1.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="tencent://message/?uin=465629981&Site=121ask.com&Menu=yes">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic2.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 col-xs-12 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic3.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic1.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="tencent://message/?uin=465629981&Site=121ask.com&Menu=yes">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic2.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				<div class="col-md-4 images-box">
					<a href="preview.html"><img src="__PUBLIC__/images/feature-pic3.jpg" alt="" /></a>
					<h2>尔康电视 </h2>
					<div class="price-details">
				       <div class="price-number">
							<p>厂家：<span class="rupees">肇庆市华创信息科技有限公司</span></p>
					    </div>
					    <div class="add-cart">								
							<h4><a href="preview.html">洽谈</a></h4>
						</div>
						<div class="clear"></div>
					</div>
					 
				</div>
				
			</div>
			</div>
		   <div class="clear"></div>
		</div>
	</div>
	<include file="Public/footer"/>
	<include file="Public/script" />
	
</body>
</html>