	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta property="qc:admins" content="4216066357256307556375" />
	<title>[title]</title>

	<meta name="description" content="华创" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.css" />
	<link rel="stylesheet" href="__BOOTSTRAP__/css/font-awesome.css" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="__BOOTSTRAP__/css/ace-fonts.css" />
	<!-- ace styles -->
	<link rel="stylesheet" href="__BOOTSTRAP__/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
	
	<!--自己添加的css-->
	<link rel="stylesheet" href="__PUBLIC__/css/main.css" />