<!DOCTYPE>
<head>
<include file="Public/header"  title="创星谷-首页"/>
</head>
<body>
	<div class="wrap">
		
		<include file="Public/menu" />
	
	</div>
	<div class="main">
		<div class="row" style="margin:0px">
		<div class="col-md-12">
		<div class="attract_boxes attract_box1">
			<h3 class="b-b-d">入驻须知</h3>
			<p><br></p>
			<p>
				<strong>说明：</strong>
			</p>
			<p>
				以下是创星谷大类与其下属所涉产品分类的对应关系表，若您申请的类目无其他说明或您无法确认您所售产品所在类别，则只需提交上述基本资料。如有特殊一级类目资质要求，审核人员会在您联系时提示具体要求及注意事项信息。
			</p>
			<p>
				<strong>提交文件资料时请注意以下事项：</strong>
			</p>
			<p>
				1.文件资料及其复印件要求必须真实、有效、完整、清晰。请务必确保您申请入驻及后续经营阶段提供的相关资质的真实性（若您提供的相关资质为第三方提供，如商标注册证、授权书等，请务必先行核实文件的真实有效性），一旦发现虚假资质，您的公司将被列入非诚信商户名单，创星谷将不再与贵公司或相关联公司进行合作。
			</p>
			<p>
				2.所有提供的文件资料在有效期内，相关证照、授权等文件的剩余有效期应当在3个月（含）以上。
			</p>
			<p>
				3.文件资料如涉及数家企业或个人，则相互关系必须明确清晰，并由各方签章确认。
			</p>
			<p>
				4.产品质量证明文件，如检验报告等，必须与提交品牌、品类存在明确对应关系。
			</p>
			<p>
				5.相关外文资料必要时须提供对应的中文翻译件（中文翻译件可以由翻译公司出具，也可以由申请商户出具，由商户出具的须加盖申请商户的公章）。
			</p>
			<p>
				6.入驻商户需提供的相关文件资料包括但不限于本文件要求的所列项目，如国家法律法规及行政要求规定必须具有其他相关的文件资料时，商户有义务配合及时补充提供。
			</p>
			<p>
				7.复印件都需要加盖申请商户的公章。所有需商户盖章的文件上只接受行政公章，不接受电子章、专用章等，合同中可加盖合同专用章。
			</p>
			<p>
				8.创星谷内部相关规则、特殊流程有明确规定的，按相关原则流程执行。
			</p>
			<p>
				9.以下是创星谷经营大类与一级类目对应关系表，若您申请的类目无其他说明，则只需提交上述基本资料。如有特殊品牌资质要求，审核工作人员或系统会提示具体信息。&nbsp;
			</p>
			<p><br></p>
			<div class="text-center">
				<a class="btn btn-default" href="http://wpa.qq.com/msgrd?v=3&uin=465629989&site=qq&menu=yes" role="button">阅读上述资料后，联系客服入驻平台。</a>
			</div>
		</div>
		
		</div>
		</div>
	</div>
	<include file="Public/footer"/>
	<include file="Public/script" />
	<script>
		
		$("#enter").addClass("active");
	</script>
</body>
</html>