<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header"  title="华创 | 打印页"/>

	</head>
	<body style="background-color:#FFF">
		<div class="page-header">
			<h1>
				快递单打印
				<button id="print" class="btn btn-info">
					打印<i class="ace-icon fa fa-print  align-top bigger-125 icon-on-right"></i>
				</button>
			</h1>
		</div><!-- /.page-header -->
		<img src="__PUBLIC__/images/order.jpg" alt="快递单">
		<script src="__PUBLIC__/js/jquery/jquery.js"></script>
		<script>
			$("#print").click(function(){
				$(".page-header").hide();
				$(this).hide();
				window.print();
				$(".page-header").show();
				$(this).show();
			})
		</script>
	</body>
</html>