<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header"  title="华创 | 控制台"/>

	</head>

	<body class="no-skin">
		<include file="Public/nav" />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			
	
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">账户管理</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								查看库员
							</h1>
						</div><!-- /.page-header -->
						<div class="box-body table-responsive">
							<table id="simple-table" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center col-sm-1" rowspan="1" colspan="1">
											<label class="pos-rel">
												<input type="checkbox" class="ace check-all" value=""/>
												<span class="lbl"></span>
											</label>
										</th>
										<th>id</th>
										<th>姓名</th>
										<th>电话</th>
										<th>类型</th>
										<th>操作</th>
									</tr>
								</thead>

								<tbody>
									<form method="post" action="{:U('del')}" id="form">
									<volist name="kuyuan" id="val">
										<tr>
											<td class="center">
												<label class="pos-rel">
													<input type="checkbox" class="uids ace" name="id[]" value="{$val['id']}"/>
													<span class="lbl"></span>
												</label>
											</td>
											<td>{$val['id']}</td>
											<td>{$val['name']}</td>
											<td>{$val['kphone']}</td>
											<td>
												<switch name="val.sort">
													<case value="0">创星谷</case>
													<case value="1">散户</case>
													<case value="2">库员</case>
												</switch>
											</td>
											<td>
												<div class="action-buttons">
													<a id="print" class="blue" href="{:U('edit')}?id={$val['id']}">
														<i class="ace-icon fa fa-edit bigger-130" title="修改"></i>
													</a>
													<a class="red del" val="{:U('del')}?id={$val['id']}" href="javascript:;">
														<i class="ace-icon fa fa-trash-o bigger-130" title="删除"></i>
													</a>
												</div>
											</td>
										</tr>
									</volist>
									<tr>
										<td class="center">
											<button id="del" class="btn btn-xs btn-danger" type="button">
												<i class="ace-icon fa fa-trash-o bigger-110"></i>
												删除
											</button>
										</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<include file="Public/footer" />
		<include file="Public/script" />
		<script type="text/javascript">
			$('#allAccount').addClass("active").siblings().removeClass("active");
			$('#listKuyuan').addClass("active");
			$(function(){
			$(".check-all").click(function(){
				$(".uids").prop("checked", this.checked);
			});
			$(".uids").click(function(){
				$(".uids").each(function(i){
					if(!this.checked){
						$(".check-all").prop("checked", false);
						return false;
					}else{
						$(".check-all").prop("checked", true);
					}
				});
			})
			$("#del").click(function(){
				layer.open({
					icon:0,
					title: '删除列表',
					type: 0, 
					content: '是否删除选中列表',
					btn: ['确认', '取消'],
					yes: function(){
						$('#form').submit();
						}
				});	
			})
			$(".del").click(function(){
				var val=$(this).attr('val');
				layer.open({
					icon:0,
					title: '删除列表',
					type: 0, 
					content: '是否删除选中列表',
					btn: ['确认', '取消'],
					yes: function(){
							location.href = val;
						}
				});	
			})
		})
		</script>
		


	</body>
</html>
