<!DOCTYPE html>
<html lang="en">
	<head>
	
	<include file="Public/header"  title="华创 | 控制台"/>	
	<link rel="stylesheet" href="__PUBLIC__/css/jquery-ui.custom.css">
	<link rel="stylesheet" href="__BOOTSTRAP__/css/fileinput.min.css">
	</head>

	<body class="no-skin">
		<include file="Public/nav" />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			
	
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								添加产品
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form"  action="{:U('update')}"  id="Goodsform" method="post" enctype="multipart/form-data">
									<!-- #section:elements.form -->
									<input type="hidden" name="id" value="{$goods.id}" />
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right " for="href"> 原图 </label>
										<div class="col-sm-9">
											<img src="__PUBLIC__/upload/image/goods/{$goods['href']}"   id="oldimg"  width="60px" height="60px">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right " for="href"> 图片 </label>
										<div class="col-sm-9">
											<input type="file" id="href" placeholder="输入名称" name="href" class="col-xs-10 col-sm-5">
										</div>
									</div>
									<!-- /section:elements.form -->
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="content">  </label>

										<div class="col-sm-9">
											 <textarea id="content" name="content" type="text/plain">{$goods['content']}
											</textarea>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" id="addButton" >
												<i class="ace-icon fa fa-check bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>


								</form>
							</div>
						</div>
					</div>						
				</div>
			</div>				
		</div><!-- /.main-content -->

			
		<include file="Public/footer" />

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<include file="Public/script" />
		<script src="__BOOTSTRAP__/js/fileinput.min.js"></script>
		<script src="__BOOTSTRAP__/js/fileinput_locale_zh.js"></script>		
		<script charset="utf-8" src="__PLUGINS__/ueditor/ueditor.config.js"></script>
		<script charset="utf-8" src="__PLUGINS__/ueditor/ueditor.all.min.js"></script>
		<script charset="utf-8" src="__PLUGINS__/ueditor/lang/zh-cn/zh-cn.js"></script>
		<script type="text/javascript">
			$('#allProduct').addClass("active").siblings().removeClass("active");
			$('#addProduct').addClass("active");
			var ue = UE.getEditor('content',{ initialFrameWidth: 800 ,initialFrameHeight: 500});
			var html;
			$('#href').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式 
				maxFileSize: 2048,
            });
			$("#addButton").click(function(){
				var href = $('#href').val();
				ue.ready(function(){ 				
					$('#content').value = ue.getContent();
				});
				if(!ue.hasContents()){
					layer.msg("内容不能为空");
					return false;
				}
				$('#Goodsform').submit();
				
			});
		</script>
		


	</body>
</html>
