<!DOCTYPE html>
<html lang="en">
	<head>
	
	<include file="Public/header"  title="华创 | 控制台"/>	
	<link rel="stylesheet" href="__PUBLIC__/css/jquery-ui.custom.css">
	<link rel="stylesheet" href="__BOOTSTRAP__/css/fileinput.min.css">
	</head>

	<body class="no-skin">
		<include file="Public/nav" />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			
	
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								添加产品
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form"  action="{:U('update')}"  id="productform" method="post" enctype="multipart/form-data">
									<input type="hidden" name="pid" value="{$product.pid}" />
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="cid">公司名</label>
										<div class="col-sm-9">
											<select id="cid" name="cid" class="col-xs-10 col-sm-5">
												<option value="0" class="cid" >选择公司</option>
												<foreach item="val" name="company" >
													<option value="{$val.cid}"  class="company">{$val.company}</option>
												</foreach>	
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="sid"> 分类 </label>
										<div class="col-sm-9">
											<select id="sid" name="sid" class="col-xs-10 col-sm-5">
												<option value="0">选择分类</option>
												<foreach item="val" name="sort" >
													<option value="{$val.sid}" >{$val.sort}</option>
												</foreach>	
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="name"> 产品名 </label>
										<div class="col-sm-9">
											<input type="text" id="name" placeholder="product name" name="name" class="col-xs-10 col-sm-5" value="{$product.name}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="brief"> 简介 </label>
										<div class="col-sm-9">
											<input type="text" id="brief" placeholder="brief" name="brief" class="col-xs-10 col-sm-5"  value="{$product.brief}" >
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="price"> 出厂价 </label>
										<div class="col-sm-9">
											<input type="text" id="price" placeholder="price" name="price" class="col-xs-10 col-sm-5"  value="{$product.price}" >
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="aprice"> 建议售价 </label>
										<div class="col-sm-9">
											<input type="text" id="aprice" placeholder="aprice" name="aprice" class="col-xs-10 col-sm-5"  value="{$product.aprice}" >
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="psum"> 产品总数 </label>
										<div class="col-sm-9">
											<input type="text" id="psum" placeholder="psum" name="psum" class="col-xs-10 col-sm-5"  value="{$product.psum}" >
										</div>
									</div>																	
									<!-- #section:elements.form -->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right " for="photo"> 旧简图 </label>
										<div class="col-sm-9">				
											<img src="__PUBLIC__/upload/image/{$product.photo}"  style="border:1px solid #d5d5d5;" height="100" width="100" class="fr" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right " for=""> 简图 </label>
										<div class="col-sm-9">				
											<input type="file" id="photo" name="photo" class="col-xs-10 col-sm-5 " >
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="content"> 内容 </label>
										<div class="col-sm-9">
											 <textarea id="content" name="content" type="text/plain"  value="{$product.content}" >
											</textarea>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" id="addButton" >
												<i class="ace-icon fa fa-check bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>


								</form>
							</div>
						</div>
					</div>						
				</div>
			</div>				
		</div><!-- /.main-content -->

			
		<include file="Public/footer" />

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<include file="Public/script" />
		<script src="__BOOTSTRAP__/js/fileinput.min.js"></script>
		<script src="__BOOTSTRAP__/js/fileinput_locale_zh.js"></script>		
		<script charset="utf-8" src="__PLUGINS__/ueditor/ueditor.config.js"></script>
		<script charset="utf-8" src="__PLUGINS__/ueditor/ueditor.all.min.js"></script>
		<script charset="utf-8" src="__PLUGINS__/ueditor/lang/zh-cn/zh-cn.js"></script>
		<script type="text/javascript">
			$('#allProduct').addClass("active").siblings().removeClass("active");
			$('#addProduct').addClass("active");
			var ue = UE.getEditor('content',{ initialFrameWidth: 800 ,initialFrameHeight: 500});
			var html;
			$('#photo').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式 
				maxFileSize: 2048,
            });
			$("#addButton").click(function(){
				/*if(photo.length==0){
					layer.msg("图不能为空");
					return false;
				}
				ue.ready(function(){ 				
					 $('#content').value = ue.getContent();		
				});
				
				if(!ue.hasContents()){
					layer.msg("内容不能为空");
					return false;
				}*/
				var price = $('#price').val();
				var aprice = $('#aprice').val();
				var psum = $('#psum').val();
				price =parseFloat(price);
				aprice =parseFloat(aprice);
				psum =parseFloat(psum);
				$('#price').val(price);
				$('#aprice').val(aprice);
				$('#psum').val(psum);
				$('#productform').submit();
				
			});
			$(function(){
				var cid = $('#cid').children();
				var sid = $('#sid').children();
				cid.each(function(){
					if($(this).val()  == "{$product.cid}"){
						$(this).prop("selected",true);
					}							
				});	
				sid.each(function(){
					if($(this).val()  == "{$product.sid}"){
						$(this).prop("selected",true);
					}							
				});				
						
			})
			
			
		</script>
		


	</body>
</html>
