<!DOCTYPE html>
<html lang="en">
	<head>
		<include file="Public/header"  title="华创 | 控制台"/>

	</head>

	<body class="no-skin">
		<include file="Public/nav" />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			
	
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								产品列表
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<div class="clearfix">
										<div class="pull-right tableTools-container">
											<div class="dt-buttons btn-overlap btn-group">
												<a id="Excel" class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" title="Export to Excel">
													<span>
														<i class="fa fa-file-excel-o bigger-110 green"></i>
														<span class="hidden">Export to Excel</span>
													</span>
												</a>
												<a id="PDF" class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" title="Export to PDF">
													<span>
														<i class="fa fa-file-pdf-o bigger-110 red"></i>
														<span class="hidden">Export to PDF</span>
													</span>
												</a>
												<a class="dt-button buttons-print btn btn-white btn-primary btn-bold" title="Print">
													<span>
														<i class="fa fa-print bigger-110 grey"></i>
														<span class="hidden">Print</span>
													</span>
												</a>
											</div>
										</div>
									</div>
								<table id="simple-table" class="table table-striped table-bordered table-hover table-responsive">
									<thead>
										<tr >
											<th class="center col-sm-1" rowspan="1" colspan="1">
												<label class="pos-rel">
													<input type="checkbox" class="ace check-all" value=""/>
													<span class="lbl"></span>
												</label>
											</th>
											<th class="center">产品名</th>
											<th class="center">公司</th>
											<th class="center">分类</th>
											<th class="center">出厂价</th>
											<th class="center">建议售价</th>
											<th class="center">产品总量</th>
											<th class="center">售出数量</th>	
											<th class="center">售出总价</th>	
											<th class="center">时间</th>
											<th>
												操作
											</th>
										</tr>
									</thead>
									<tbody>
										 <foreach item="val" name="product" >
											<tr>
												<td class="center">
													<label class="pos-rel">
														<input type="checkbox" class="ace pid" name="pid[]" value="{$val['pid']}"/>
														<span class="lbl"></span>
													</label>
												</td>
												<td class="center product-name">{$val.product}<!--<div class="product-name-div" ><img class="product-name-img" src="__PUBLIC__/upload/image/{$val.photo}"  height="200" width="200"> </div>-->
												</td>												
												<td class="center">{$val.company}</td>
												<td class="center">{$val.sort}</td>
												<td class="center">{$val.price}</td>
												<td class="center">{$val.aprice}</td>
												<td class="center">{$val.psum}</td>
												<td class="center">{$val.ssum}</td>
												<td class="center">{$val.sprice}</td>
												<td class="center">{$val.time}</td>
												<td>
													<div class="hidden-sm hidden-xs action-buttons">
														<a class="blue" href="{:U('edit')}?pid={$val.pid}">
															<i class="ace-icon fa fa-pencil bigger-130" title="修改"></i>
														</a>

														<a class="red del" val="{:U('del')}?pid={$val['pid']}" href="javascript:;">
															<i class="ace-icon fa fa-trash-o bigger-130" title="删除"></i>
														</a>
													</div>
												</td>
											</tr>
										</foreach>	
										<tr>
											<td class="center">
												<button id="del" class="btn btn-xs btn-danger">
													<i class="ace-icon fa fa-trash-o bigger-110"></i>
													删除
												</button>
											</td>											
										</tr>
									</tbody>
								</table>
							</div><!-- /.span -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<include file="Public/footer" />
		<include file="Public/script" />
		<script type="text/javascript">
			$('#allProduct').addClass("active").siblings().removeClass("active");
			$('#listProduct').addClass("active");
			$(function(){
				$(".check-all").click(function(){
					$(".pid").prop("checked", this.checked);
				});
				$(".pid").click(function(){
					$(".pid").each(function(i){
						if(!this.checked){
							$(".check-all").prop("checked", false);
							return false;
						}else{
							$(".check-all").prop("checked", true);
						}
					});
				});
				$("#del").click(function(){
					layer.open({
						icon:0,
						title: '删除列表',
						type: 0, 
						content: '是否删除选中列表',
						btn: ['确认', '取消'],
						yes: function(){
							$('#form').submit();
							}
					});	
				});
				$(".del").click(function(){
					var val=$(this).attr('val');
					layer.open({
						icon:0,
						title: '删除列表',
						type: 0, 
						content: '是否删除选中列表',
						btn: ['确认', '取消'],
						yes: function(){
								location.href = val;
							}
					});	
				});
				$('.product-name').hover(function(){
					$('.product-name-img').show();
					},
					function(){
					$('.product-name-img').hide();		
					}
				);
			})
		</script>
	</body>
</html>
