<!DOCTYPE html>
<html lang="en">
	<head>
		<include file="Public/header"  title="控制台"/>

	</head>

	<body class="no-skin">
		<include file="Public/nav" />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			
	
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">我的库存</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					
					<!-- /section:basics/content.breadcrumbs -->
						<div class="page-content">
						<!-- #section:settings.box -->
						

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								库存列表
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<div class="clearfix">
										<div class="box-header pull-left">
											  <form class="form-inline" action="" method="get" id="search-form">
												
												<div class="input-group" style="width: 150px;">
												  <input type="text" name="table_search" class="form-control pull-right" placeholder="搜索">
												  <div class="input-group-btn">
													<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
												  </div>
												</div>
											  </form>
										</div>
										<div class="pull-right tableTools-container">
											<div class="dt-buttons btn-overlap btn-group">
												<a id="Excel" class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" title="Export to Excel">
													<span>
														<i class="fa fa-file-excel-o bigger-110 green"></i>
														<span class="hidden">Export to Excel</span>
													</span>
												</a>
												<a id="PDF" class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" title="Export to PDF">
													<span>
														<i class="fa fa-file-pdf-o bigger-110 red"></i>
														<span class="hidden">Export to PDF</span>
													</span>
												</a>
												<a class="dt-button buttons-print btn btn-white btn-primary btn-bold" title="Print">
													<span>
														<i class="fa fa-print bigger-110 grey"></i>
														<span class="hidden">Print</span>
													</span>
												</a>
											</div>
										</div>
									</div>
								
								<table id="simple-table" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">编号</th>
											<th class="center">产品名</th>
											<th class="center">库存</th>
											<th class="center">售出数量</th>
											<th class="col-sm-1">
												下单
											</th>
										</tr>
									</thead>

									<tbody>
										 <foreach item="val" name="product" >
											<tr>
											
												<td class="center">{$val.pid}</td>
												<td class="center product-name">{$val.product}</td>
												<td class="center">{$val.psum}</td>
												<td class="center">{$val.ssum}</td>
												<td>
													<div class="hidden-sm hidden-xs action-buttons">
														<a class="blue" href="{:U('order')}?pid={$val.pid}">
															<i class="ace-icon fa fa-pencil bigger-130" title="下单"></i>
														</a>
													</div>
												</td>
											</tr>
										</foreach>	
									</tbody>
								</table>
							</div><!-- /.span -->
							<ul class="pagination">
									{$page}
								</ul>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<include file="Public/footer" />
		<include file="Public/script" />
		<script type="text/javascript">
			$('#allStock').addClass("active").siblings().removeClass("active");
		</script>
		


	</body>
</html>
